.about-us h3 {
    background-color: var(--border-color);
    color: var(--primary-color);
    padding: 80px 180px 20px 180px;
    font-size: 48px;
}

.about-us p,
ul {
    padding: 20px 180px 00px 180px;
    font-size: 20px
}

.about-us p {
    margin: 0;
}

.about-us ul {
    margin-left: 50px;
}

.about-us {
    margin-bottom: 100px;
}

.vision {
    background: url('../img/vision_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 12% 4%;
}

.vision h3 {
    font-size: 48px;
    font-weight: 700;
}

.vision p {
    font-size: 20px;
    width: 35%;
    margin: 2% 0;
}

.mission {
    background: url('../img/mission_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 1% 0%;
}

.mission h3 {
    font-size: 48px;
    font-weight: 700;
}

.mission p {
    font-size: 20px;
    width: 50%;
}

.mission ul {
    padding: 20px 50px;
    width: 50%;
}



.values {
    background: url('../img/vision_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20% 4%;
}

.values h3 {
    font-size: 48px;
    font-weight: 700;
}

.values ul {
    padding: 1% 0;
    margin: 2% 5%;
    width: 60%;
}

.values ul li {
    margin-bottom: 1%;
}

.affiliations h3 {
    background-color: var(--border-color);
    color: var(--primary-color);
    padding: 20px 100px;
    font-size: 38px;
    margin-bottom: 0;
}

.institute-affiliations h3 {
    background-color: var(--border-color);
    color: var(--primary-color);
    padding: 60px 100px 20px 100px;
    font-size: 38px;
    margin-bottom: 0;
}

.institute-affiliations {
    margin: 0 auto;
}

.institute-affiliations p {
    margin: 2% 6%;
    font-size: 24px;
}

.affiliation-grid-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.affiliation-grid-img img {
    height: 150px;
}


.gov-affiliations h3 {
    background-color: var(--footer-color);
    color: var(--primary-color);
    padding: 60px 100px 20px 100px;
    font-size: 38px;
    margin-bottom: 0;
}

.gov-affiliations {
    margin: 0 auto;
}

.gov-affiliations p {
    margin: 2% 6%;
    font-size: 24px;
}

@media (max-width: 520px) {
    .about-main {
        padding: 0;
        margin-top: 15%;
    }

    .about-us {
        margin: 0 auto;
    }

    .about-us h3 {
        padding: 60px 20px 20px 20px;
        font-size: 30px;
    }

    .about-us p,
    ul {
        padding: 20px;
        font-size: 16px
    }

    .vision {
        background: url('../img/visionMobile_bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
        padding: 35% 4%;
    }

    .vision h3 {
        font-size: 30px;
        font-weight: 700;
        margin: 2% 0% 0% 20%;
    }

    .vision p {
        font-size: 18px;
        width: 80%;
        margin: 2% 0% 0% 20%;
    }

    .affiliation-grid-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        margin-bottom: 0%;
    }

    .affiliation-grid-img img {
        height: 100px;
    }

    .mission {
        background: url('../img/missionMobile_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 75vh;
        padding: 20% 4%;
    }

    .mission h3 {
        font-size: 30px;
        font-weight: 700;
    }

    .mission p {
        font-size: 16px;
        width: 100%;
        margin: 0%;
    }

    .mission ul {
        padding: 0px;
        width: 98%;
        font-size: 14px;
        margin-left: 4%;
    }

    .mission h3,
    p,
    ul {
        margin: 0%;
    }

    .values {
        background: url('../img/valueMobile_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        padding: 15% 5%;
    }

    .values h3 {
        font-size: 30px;
        font-weight: 700;
    }

    .values ul {
        padding: 1% 0;
        margin: 0% 5%;
        width: 90%;
    }

    .values ul li {
        margin-bottom: 1%;
        font-size: 14px;
    }

    .affiliations h3 {
        background-color: var(--border-color);
        color: var(--primary-color);
        text-align: center;
        font-size: 30px;
        margin-bottom: 0;
    }

    .institute-affiliations h3 {
        background-color: var(--border-color);
        color: var(--primary-color);
        font-size: 30px;
        text-align: center;
        padding: 40px 0px 10px 0px;
    }

    .institute-affiliations {
        margin: 0 auto;
    }

    .institute-affiliations p {
        margin: 2% 6%;
        font-size: 18px;
    }


    .gov-affiliations h3 {
        background-color: var(--footer-color);
        color: var(--primary-color);
        padding: 40px 0px 10px 0px;
        font-size: 30px;
        margin-bottom: 0;
    }

    .gov-affiliations {
        margin: 0 auto;
    }

    .gov-affiliations p {
        margin: 2% 6%;
        font-size: 18px;
    }

}