.careers-container {
    margin: 0 auto;
    text-align: center;
    padding: 10%;
}

.careers-container h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.careers-container p {
    font-size: 1.2rem;
    color: var(--font-color);
    opacity: 0.75;
    line-height: 1.6;
    margin: 0 auto;
}

@media (max-width: 520px) {
    .careers-container {
        padding: 28% 10%;
    }
}