/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2px 20px;
    background-color: var(--primary-color);
    color: var(--font-color);
    position: fixed;
    top: 0%;
    z-index: 1000;
    width: 100%;
}

.navbar-logo img {
    height: 60px;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu img {
    height: 40px;
}

.navbar-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-menu li {
    margin: 0 15px;
    position: relative;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: large;
    padding: 5px 0;
    display: inline-block;
    position: relative;
    font-weight: 400;
}

.navbar-menu a:not([href]) {
    color: var(--tertiary-color);
    cursor: pointer;
}

.navbar-menu a:not([href]):hover {
    color: var(--tertiary-color);
}

.navbar-menu a::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--font-color);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.navbar-menu a:hover::after {
    width: 100%;
}

.navbar-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 520px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        position: absolute;
        top: 70px;
        right: 5px;
        background-color: var(--shadow-color);
        z-index: 1;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in;
    }

    .navbar-menu.active {
        height: 300px;
        border: 1px solid var(--primary-color);
    }

    .navbar-menu.active img {
        height: 32px;
    }

    .navbar-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
    }

    .navbar-menu li {
        margin: 0 auto;
    }

    .navbar-menu a {
        padding: 10px 0;
        width: 100%;
        color: var(--primary-color);
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu a::after {
        content: '';
        display: block;
        height: 1px;
        background-color: var(--primary-color);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.3s ease-in-out;
    }

    .navbar-menu a:hover::after {
        width: 100%;
    }

    .navbar-menu a:not([href]) {
        color: var(--primary-color);
        cursor: pointer;
    }

    .navbar-menu a:not([href]):hover {
        color: var(--primary-color);
    }
} */